* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width:100vw;
    height: 100vh;
    background: linear-gradient(100deg, rgba(20, 99, 155, 0.25), rgba(30, 148, 227, 0.25));
    background-image: url(imagenes/descarga.svg);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: "bold";
    color: white;
}
.contenedor{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main{
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    /* background-color: aqua; */
}
.letra{
    width: 60%;
    height: 40%;
    margin-left: 10px;
    font-weight: bold;
    color: aliceblue;
}
.letra h3{
    
}
.imagen{
    width: 40%;
    /* background-color: crimson; */
  
}


.contenido a img{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    
}
.link{
    width: 90%;
    height: 80%;
    text-decoration: none;
    display: flex;
    
    justify-content: flex-end;
    align-items: center;
}
ul {
    width: 70%;
    height: 70%;
}

div.link ul li a {
   /*  float: right 100px;
    color: #fff;
    font-size: larger; */
    text-decoration: none;
    color: aliceblue;
  /*   padding: 10px; */
}

.link ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.imagen img{
    width: 100%;
    height:100%;
   
}

  
.cta-main {
    width: 200px;
    font-family: monospace;
    background-color: yellow;
    border: none;
}