
body{
  background-image: url(imagenes/descarga.svg);
    font-family:Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
    font-weight: bold;
   
}

img{
    width: 165px;
    padding: 5px;
}
.container{
    width: 300%;
    max-width: 785px;
    min-width: 320px;
    border-radius: 15px;
    padding: 1rem;
   
}
table{
    background-color: wheat;
    text-align: left;
    border-collapse: collapse;
    width: 100%;
    border-collapse: collapse; 
}
a{
    text-decoration: none;
    color: antiquewhite;
}
h1{
    font-family:Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
    text-align: right;
    color:wheat;
    font-weight:bold;
    
}
button{
    margin:5px;
    background-image: url(imagenes/descarga.svg);
    color: aliceblue;
}
th,td{
    margin: 2px;
}
table tr:nth-child(odd) {       background-color: rgba(11, 49, 110, 0.75);
}

table tr:nth-child(even) {    background-image: url(imagenes/descarga.svg);
}
td{
    margin: 20px;
}
th{
    padding: 3px;
}
tbody .tcuerpo{
    border: 1px solid transparent; height: 30px; 
}
tr:hover td { background: #071750; color: rgb(121, 153, 51); }
td, th { border: 1px solid transparent; height: 30px; }
button:hover{
color: yellow;}